// Use this file for shameful sass code, you know, that !important stuff ;)

body {
    margin: 0;
}

section {
    padding: 80px 0;
}

@media (min-width: $breakpoint-lg) {
    .dienst__title {
        height: 40px;
    }
}

#hamburger {
    position: relative;
    z-index: 10000;
}

@media (max-width: $breakpoint-md) {
    .dienst-icons .row div:not(:first-child) img {
        margin-top: 50px;
    }
}

// Support

.toggle-inner ul {
    margin-left: 32px;
}

