.pdf-downloads {
    // list-style-type: none;
    list-style-image: url('../images/pdf-icon.png');
    > li {
        margin-bottom: 5px;
    }
}

.pdf-link {
    text-decoration: none;
    color: $gray;
    transition: all 0.2s ease;
    &:hover {
        color: $red;
    }
}