.service-contact {
    z-index: 20;
    background: url('../images/contact-bg.png') no-repeat top center;
    background-size: cover;
    margin-top: -60px;
    padding-top: 160px;
    padding-bottom: 80px;
    color: white;
    p {
        margin: 8px 0;
    }
    a {
        color: $orange;
        text-decoration: none;
    }
}