.dienst-icons {
    @include skew($white);
    z-index: 50;
}

.dienst {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dienst__icon {
    width: 160px;
}

.dienst__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2em;
}

.dienst__text {
    font-size: 16px;
    margin-bottom: 20px;
}

.dienst__button {
    font-size: 18px;
    padding: 12px 16px;
    color: $white;
    background: $blue;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        border-radius: 20px;
        background: darken($blue, 10%);
    }
}