.faq {
    background: $orange;
    padding-top: 20px;
    position: relative;
    &:before {
        content: ' ';
        display: block;
        height: 90px;
        width: 90px;
        position: absolute;
        bottom: -90px;
        left: 25%;
        border-left: 90px solid transparent;
        border-right: 0px solid transparent;
        border-top: 45px solid $orange;
    }
}

.faq__title {
    margin-top: 0;
    margin-bottom: 8px;
}

// Dropdown
.toggle-title {
    position: relative;
    display: block;
    padding: 4px 40px;
    margin: 2px 0;
    background: $white;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    &::before {
        content: ' ';
        position: absolute;
        top: 5px;
        left: 7px;
        width: 23px;
        height: 22px;
        padding: 0 0 8px 3px;
        border-radius: 20px;
        transition: all 0.2s ease;
        background: $orange;
    }
    &::after {
        line-height: 20px;
        text-align: center;
        color: white;
        font: normal normal normal 20px/1 FontAwesome;
        content: '\f105';
        position: absolute;
        top: 6px;
        left: 8px;
        width: 20px;
        height: 20px;
        padding: 0 0 8px 3px;
        border-radius: 20px;
        transition: all 0.2s ease;
    }
    &.active {
        &::after {
            top: 5px;
            left: 9px;
            transform: rotate(90deg);
        }
    }
}

.toggle-inner {
    padding: 10px 15px 10px 0;
    display: none;
    color: $white;
}