footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-list {
    list-style-type: none;
    > li {
        line-height: 1.7em;
        > a {
            color: $link-blue;
            text-decoration: none;
        }
    }
}

@media(max-width: $breakpoint-md) {
    .footer-items > ul {
        padding-left: 50px;
    }
    .copyright-notice *, .copyright {
        text-align: center !important;
    }
}

.copyright {
    margin-top: 40px;
    img {
        max-width: 100%;
    }
}

.copyright-notice {
    margin-top: 10px;
    * {
        font-size: 14px;
        color: lighten($gray, 30%);
        text-align: right;
        text-transform: uppercase;
        margin: 4px 0;
    }
    a {
        text-decoration: none;
        color: $orange;
    }
}