.intro {
    height: 800px;
    background: url('../images/header-image.png') no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover; 
    position: relative;
    z-index: 1;
    padding-top: 0;
}

@media (max-width: $breakpoint-md) {
    .intro {
        background-attachment: scroll;
    }
}

.logo {
    cursor: pointer;
}

.menu-bar {
    transition: all 300ms ease;
    position: relative;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
}

.intro__logo {
    transition: all 300ms ease;
    padding-top: 40px;
    padding-bottom: 10px;
    > img {
        max-width: 60vw;
    }
    &.mobile {
        justify-content: space-between;
        align-items: center;
        display: none;
    }
}

// Select right menu
.menu-bar {
    &.desktop {
        display: block;
    }
    &.mobile {
        display: none;
    }
}
@media (max-width: #{$breakpoint-xl}-1) {
    .menu-bar {
        &.desktop {
            display: none;
        }
        &.mobile {
            display: flex;
        }
    }
    .intro__logo.mobile {
        display: flex;
    }
}

// Navbar styling
.navbar {
    width: 100%;
    z-index: 100;
    margin-top: 15px;
}

.navbar__item {
    padding: 4px 10px;
    color: white;
    text-decoration: none;
    border-right: $white 2px solid;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        border-right: none;
    }
}

// Responsiveness
#hamburger {
    display: none;
}
@media (max-width: #{$breakpoint-xl}-1) {
    .intro {
        height: 600px;
    }
    .navbar {
        display: none;
    }
    #hamburger {
        display: flex;
    }
}

// Mobile menu
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $black;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
}

.overlay-menu {
    text-align: center;
    font-size: 24px;
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin: 20px 0;
    }
    a {
        text-decoration: none;
        //text-shadow: 1px 1px 2px lighten($gray, 30%);
        color: $white;
    }
}

// Hamburger menu
.wrapper-menu {
    width: 50px;
    height: 40px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    &.open {
        transform: rotate(-45deg);
        height: 50px;
    }
}

.line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    &.half {
        width: 100%;
    }
    &.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
    }
}

.open {
    .line-menu.half {
        width: 50%;
    }
    .line-menu.start {
        transform: rotate(-90deg) translateX(3px);
    }
    .line-menu.end {
        transform: rotate(-90deg) translateX(-3px);
    }
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}
