.jobs {
    background: url('../images/werken-bij-bg.png') no-repeat top center fixed;
    background-size: cover;
    color: $white;
}

.vacature-link {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    a {
        color: $white;
        text-decoration: none;
    }
    &::after {
        content: ' ';
        display: block;
        height: 14px;
        width: 14px;
        position: absolute;
        top: 4px;
        left: -40px;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 20px solid $white;
    }
}

@media (max-width: $breakpoint-md) {
    .vacature-link {
        font-size: 20px;
        margin-left: 25px;
        &::after {
            height: 7px;
            width: 7px;
            position: absolute;
            top: 4px;
            left: -25px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 14px solid $white;
        }
    }
}