.delay-1s {
    animation-delay: 1s;
}

// Mobile menu overlay
.overlay-menu li {
    @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
            transition-delay: (100ms * $i) + 200;
        }
    }
}
.overlay{
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-out;
    visibility: hidden;
    li {
        transition: all 0.3s ease-out;
        transform: translateY(-10px) scale(1.1);
        visibility: hidden;
        opacity: 0;
    }
    &.open {
        visibility: visible;
        opacity: 1;
        height: 100%;
        li {
            transform: none;
            opacity: 1;
            visibility: visible;
        }
    }
}

// Set menu bar when scrolling
.menu-bar.scrolled {
    background-color: $gray;
    height: 90px;
    box-shadow: 3px 0  1px 0 lighten($gray, 20%);
    .intro__logo {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &.desktop {
        height: 115px;
        .intro__logo {
            padding-top: 16px;
        } 
    }
    &.no-bg {
        background-color: transparent;
        box-shadow: none;
        transition-delay: 300ms;
    }
}