@mixin skew($color) {
    background: $color;
    content: ' ';
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    transform: skewY(-4deg);
    width: 100%;
    > * {
        transform: skewY(4deg);
    }
}