* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.45em;
}

h1 {
    font-size: 45px;
    font-weight: lighter;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

p, div {
    font-size: 18px;
}

.gray-list {
    color: $gray;
}

// Responsiveness
@media (max-width: $breakpoint-md) {
    h1 {
        font-size: 32px;
    }
}