// Breakpoints from Bootstrap 4
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;


// Colors
$black: #000;
$gray: #1c1a1a;
$white: #fff;
$blue: #00589f;
$link-blue: #0456a5;
$orange: #f88d3d;
$red: #cb0606;